@font-face
   font-family: 'SocialIcons'
   src: url("social_shapes.ttf") format("truetype")
   font-weight: normal
   font-style: normal

body
	background-color: #F86D1A

.form-inscription
	display: block
	position: absolute
	padding: 20px 10px
	height: 400px
	top: 150px
	left: 20%
	background: rgba(20,20,20,0.6)
	border-radius: 25px 25px 0px 0px
	z-index: 1001
.form-inscription label, h2
	color: #fff
.section-services img
	width: 200px
	height: 200px
	margin: 10px auto
	display: block
footer
	background: #333
	color: #fff
	height: 280px
.help-box
	height: 150px;