div(id="myCarousel",class="carousel slide")
  .carousel-inner
    div(class="item active")
      img(src='img/image1.jpg')
      .container
        .carousel-caption
          h1 Example headline
          p(class="lead") Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
    div(class="item")
      img(src="img/image2.jpg")
      .container
        .carousel-caption
          h1 Another example headline.
          p(class="lead") Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
    div(class="item")
      img(src="img/image3.jpg")
      .container
        div(class="carousel-caption")
          h1 One more for good measure.
          p(class="lead") Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
          
  a(class="left carousel-control", href="#myCarousel", data-slide="prev")
  a(class="right carousel-control", href="#myCarousel", data-slide="next")