doctype html
html
  head
    meta(charset="UTF-8")
    title Test
    link(rel='stylesheet',href='include.css',type='text/css')
    link(rel='stylesheet',href='style.css',type='text/css')
    script(type='text/javascript', src='js/app.js')
    script(type='text/javascript', src='js/jquery.js')
  body
    section.container
      .box(class='col-lg-4')
        h1 Hola Mundo
        p  Dolor natus minima cumque ad voluptas expedita dicta ipsa quis. Obcaecati eligendi exercitationem impedit distinctio temporibus. Reiciendis enim aut debitis maxime illum, odit impedit ut. Laborum porro nobis adipisci molestias?
